# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 2

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 6 (Part 2) on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Getting the Files from the Web

The data was downloaded from https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-data-by-state-and-district-of- . You will find them in the zip file.

In [3]:
import pandas as pd

## Importing one File & Understanding the Data Structure

2. __Load__ the file __"AK.txt"__ into Pandas and __inspect__.

In [4]:
at_file = pd.read_csv('AK.TXT')

In [6]:
at_file.head(4)

   AK  F  1910      Mary  14
0  AK  F  1910     Annie  12
1  AK  F  1910      Anna  10
2  AK  F  1910  Margaret   8
3  AK  F  1910     Helen   7

## The glob module

3. From glob import glob.

In [7]:
from glob import glob

4. __Find__ all filenames with the structure __"A?.txt"__ in your current directory (? is a single charcter wildcard).

In [8]:
A_files = glob('A?.TXT')

In [9]:
A_files

['AK.TXT', 'AL.TXT', 'AR.TXT', 'AZ.TXT']

5. __Find__ all filenames with the following structure in your current directory and save the resulting list in a variable:

In [ ]:
"*.txt" # (* is a wildcard for zero or many characters)

In [28]:
current_directory_files = glob('*.TXT')

In [12]:
#all_directory_files

In [30]:
inner_directory = glob('subdir/*.txt')

In [31]:
inner_directory

['subdir\\yob1880.txt', 'subdir\\yob1881.txt']

# Importing & merging many Files (complex case)

6. __Load__ all files (*.txt) and __merge/concatenate__ all files into one Pandas DataFrame.

In [15]:
filenames = glob('*.TXT')
len(filenames)

51

In [17]:
dataframes = []
for name in filenames:
    df = pd.read_csv(name, header = None, names = ['State', 'Gender', 'Year', 'Name', 'Count'])
    dataframes.append(df)

In [22]:
dataframes[0]

      State Gender  Year      Name  Count
0        AK      F  1910      Mary     14
1        AK      F  1910     Annie     12
2        AK      F  1910      Anna     10
3        AK      F  1910  Margaret      8
4        AK      F  1910     Helen      7
...     ...    ...   ...       ...    ...
28523    AK      M  2018      Theo      5
28524    AK      M  2018    Thorin      5
28525    AK      M  2018   Trenton      5
28526    AK      M  2018    Victor      5
28527    AK      M  2018      Zion      5

[28528 rows x 5 columns]

In [23]:
df = pd.concat(dataframes, ignore_index=True)

In [24]:
df.head(4)

  State Gender  Year      Name  Count
0    AK      F  1910      Mary     14
1    AK      F  1910     Annie     12
2    AK      F  1910      Anna     10
3    AK      F  1910  Margaret      8

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6028151 entries, 0 to 6028150
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   State   object
 1   Gender  object
 2   Year    int64
 3   Name    object
 4   Count   int64
dtypes: int64(2), object(3)
memory usage: 230.0+ MB

7. Create a __RangeIndex__ and __save__ the DataFrame (with columns "State", "Gender", "Year", "Name", "Count") in a new csv-file.

In [26]:
df.to_csv('baby_records.csv')

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 2.__ <br>
You can use pd.read_csv(). You need to add appropriate column headers (e.g. "State", "Gender", "Year", "Name", "Count")

__Hints for 4. and 5.__<br>
Use glob()

__Hints for 6.__<br>
Use a for loop and pd.concat().